<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/home.css"/>
    <title>Tech Capsule</title>
    <link rel="icon" type="image/x-icon" href="../static/image.png" />
</head>
        <div class="content">
          <div class="center">
          <div class="welcome">
               <img src="../static/image.png">
            <h1>Welcome to Tech Capsule!</h1>
            <h2>Your one-stop source for all your tech news needs.</h2>
          </div>
          <div class="center_buttons">
              <form method="post">
            <input class="button" type="submit" name="submit_button" value="Continue as guest">
            <input class="button" type="submit" name="submit_button" value="Log in for a personalized experience">
                </form>
          </div>
          </div>
           </div>
        <div id="footer">
</html>