<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/login.css" />
    <title>Tech Capsule | Register</title>
    <link rel="icon" type="image/x-icon" href="../static/image.png" />
</head>
<body>
  <div class="content">
      <div class="picture"></div>
      <div class="center">
        <div class="login-box">
          <img src="../static/image.png" />
        <h2>CREATE AN ACCOUNT</h2>
    <form method="post">
        <label></label>
      <input
      class="textfield"
        name="one"
        type="email"
        id="email"
        placeholder="Write your email..."
       required
      /><br /><br>
      <label></label>
      <input
      class="textfield"
        name="two"
        type="text"
        id="username"
        placeholder="Write your username..."
       required
      /><br /><br>
      <label></label>
      <input
        class="textfield"
        name="three"
        type="password"
        id="password"
        placeholder="Write your password..."
        required
      /><br /><br>
      <input class="button" type="submit" value="SIGN UP" /><br /><br>
    </form>
    </div>
    <div>
    </div>
    </div>
    </div>
  </div>
</body>
</html>